@model lab3_lab4.Controllers.SnookerController.Player

@{
    ViewData["Title"] = "Player Details";
}

<h2>Player Details</h2>

<p>Name: @Model.Name</p>
<p>Ranking: @Model.Ranking</p>

<a href="/Snooker">Back to Snooker Management</a>
